__pycache__/
*.py[cod]
*.so
.Python
env/
build/
develop-eggs/
dist/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
.env
db.sqlite3
media/
.vscode
*config.json
