asgiref==3.2.3
astroid==2.3.3
autopep8==1.4.4
bootstrap4==0.1.0
certifi==2022.12.7
cffi==1.13.2
chardet==3.0.4
cryptography==2.8
Django==3.0.2
django-extensions==2.2.6
django-model-utils==4.0.0
django-rest-knox==4.1.0
djangorestframework==3.11.0
etcpy==0.1
gunicorn==20.0.4
idna==2.8
isort==4.3.21
lazy-object-proxy==1.4.3
materialize==0.1.1
mccabe==0.6.1
Pillow==7.0.0
pycodestyle==2.5.0
pycparser==2.19
pylint==2.4.4
pylint-django==2.0.13
pylint-plugin-utils==0.6
pytz==2019.3
requests==2.22.0
six==1.14.0
sqlparse==0.3.0
typed-ast==1.4.1
urllib3==1.25.7
wrapt==1.11.2
