[data-toggle="collapse"] .fa:before {   
  content: "\f139";
}

[data-toggle="collapse"].collapsed .fa:before {
  content: "\f13a";
}

.text-gray-400 {
  color: 
  #d1d3e2 !important;
}

.text-gray-300 {
  color: #dddfeb !important;
}

.text-gray-800 {
  color: #5a5c69 !important;
}

.dropdown.no-arrow .dropdown-toggle::after {
  display: none;
}

.border-left-primary {
  border-left: 0.25rem solid #4e73df !important;
}

.border-left-secondary {
  border-left: 0.25rem solid #1cc88a !important;
}

.bg-cardDetail {
  background-color: #c8cdd3 !important;
}