{% extends "users/base.html" %}
{% block content %}
    <div class="container">
        <div class="card mx-auto mt-5">
            <div class="card-body">
            <div class="text-center mb-4">
                <h4>Invalid Verification Link! </h4>
                <h5>Verification link may have expired or another issue may have occurred. </h5>
                <p>Please try registering again.</p>
                <a href="{% url 'register' %}">Register</a>
            </div>
            </div>
        </div>
        </div>
    </div>
{% endblock content %}