{% extends "creditcard/base.html" %}
{% block content %}
<div class="card bg-secondary mb-1">
  <a class="card-block stretched-link text-decoration-none text-white" data-toggle="collapse" href="#ActiveCards" aria-expanded="true">
    <div class="card-header">
      <strong>Active Cards</strong>
      <span class="float-right">
        <i class="fa" aria-hidden="true"></i>
      </span>
    </div>
  </a>
</div>
<div class="collapse show" id="ActiveCards">
  <div class="row">
    {% for cc in ActiveCC %}
      <div class="col-xl-3 col-sm-6 my-3"> 
        <div class="card text-white bg-active o-hidden vh-15">
          <a class="card-body stretched-link text-decoration-none text-white" href="/card/{{cc.pk}}">
            <div class="card-body-icon">
              <i class=" 
              {% if cc.type == 1 %} 
                fab fa-cc-mastercard 
              {% elif cc.type == 2 %}
                fab fa-cc-visa
              {% elif cc.type == 3 %} 
                fab fa-cc-amex
              {% else %}
                fas fa-credit-card
              {% endif %}" ></i>
            </div>
            <div class="mr-5"><h5>{{ cc.name }}</h5></div>
          </a>
          <a class="card-footer stretched-link text-white clearfix small z-1" href="/card/{{cc.pk}}">
            <span class="float-left">View Details</span>
            <span class="float-right">
              <i class="fas fa-angle-right"></i>
            </span>
          </a>
        </div>
      </div>
    {% endfor %}
    <div class="col-xl-3 col-sm-6 my-3"> 
      <div class="card text-white bg-newcard o-hidden vh-15">
        <a class="card-body stretched-link text-decoration-none text-white" href="/card/new/">
          <div class="card-body-icon unrotate">
            <i class="fas fa-fw fa-plus"> </i>
          </div>
          <div class="mr-5"><h4>Add a New Card</h4></div>
        </a>
      </div>
    </div> 
  </div>
</div>
<div class="card bg-secondary mb-1">
  <a class="card-block stretched-link text-decoration-none text-white" data-toggle="collapse" href="#InactiveCards" aria-expanded="true">
    <div class="card-header">
      <strong>Cancelled Cards</strong>
      <span class="float-right">
        <i class="fa" aria-hidden="true"></i>
      </span>
    </div>
  </a>
</div>
<div class="collapse show" id="InactiveCards">
  <div class="row">
    {% for cc in InactiveCC %}
    <div class="col-xl-3 col-sm-6 my-3"> 
      <div class="card text-white bg-inactive o-hidden vh-15">
        <a class="card-body stretched-link text-decoration-none text-white" href="/card/{{cc.pk}}">
          <div class="card-body-icon">
            <i class=" 
            {% if cc.type == 1 %} 
              fab fa-cc-mastercard 
            {% elif cc.type == 2 %}
              fab fa-cc-visa
            {% elif cc.type == 3 %} 
              fab fa-cc-amex
            {% else %}
              fas fa-credit-card
            {% endif %}" ></i>
          </div>
          <div class="mr-5"><h5>{{ cc.name }}</h5></div>
        </a>
        <a class="card-footer stretched-link text-white clearfix small z-1" href="/card/{{cc.pk}}">
          <span class="float-left">View Details</span>
          <span class="float-right">
            <i class="fas fa-angle-right"></i>
          </span>
        </a>
      </div>
    </div>
    {% endfor %} 
  </div>
</div>
{% endblock content %}