[data-toggle="collapse"] .fa:before {
  content: "\f139";
}

[data-toggle="collapse"].collapsed .fa:before {
  content: "\f13a";
}

.text-gray-400 {
  color: #d1d3e2 !important;
}

.text-gray-300 {
  color: #dddfeb !important;
}

.text-gray-800 {
  color: #5a5c69 !important;
}

.dropdown.no-arrow .dropdown-toggle::after {
  display: none;
}

.border-left-primary {
  border-left: 0.25rem solid #4e73df !important;
}

.border-left-secondary {
  border-left: 0.25rem solid #1cc88a !important;
}

.bg-cardDetail {
  background-color: #c8cdd3 !important;
}

.bg-newcard {
  background-color: #b2bac2 !important;
}

.card-body-icon.unrotate {
  -webkit-transform: rotate(0);
  transform: rotate(0);
  top: 0rem;
  right: 0rem;
}

.react-datepicker__input-container {
  width: inherit;
}

.react-datepicker-wrapper {
  width: 100%;
}

.error {
  border: 1px solid red;
}

.td-right {
  text-align: right;
}

.neg-amount {
  color: red;
}

.pos-amount {
  color: #2db84c;
}

#transaction {
  border-collapse: collapse;
  width: 100%;
  border-radius: 4px;
  border-spacing: 0px;
}

#transaction td,
#transaction th {
  border: 1px solid #ddd;
  padding: 8px;
  width: 50%;
}

#transaction tr:nth-child(even) {
  background-color: #f2f2f2;
}

#transaction tr:hover {
  background-color: #ddd;
}

#transaction th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4e73df;
  color: white;
}

#transaction tr:last-child {
  background-color: #cfcfd3;
}

.categories-list {
  display: flex;
  max-width: 100%;
  margin: 40px auto 0 auto;
  border-collapse: collapse;
  width: 100%;
  border-radius: 4px;
  border-spacing: 0px;
  justify-content: space-around;
}

.category {
  padding: 20px;
  box-sizing: border-box;
  margin-bottom: 20px;
  width: 25%;
}

#categories th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4e73df;
  color: white;
}

#categories tr,
#categories th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
  font-size: large;
}

#categories tr:nth-child(even) {
  background-color: #f2f2f2;
}

#categories tr:hover {
  background-color: #ddd;
}

#categoryHeader {
  text-align: center;
}

table#category tr td a.button {
  display: none;
}

table#category tr:hover td a.button {
  display: inline-block;
}

.float-right {
  float: right;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

#modalTable th {
  border-top: none;
}
